@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Poppins:wght@400;700&display=swap');


body {
    margin: 0;
    background-color: #00425a;
    font-family:'Poppins', sans-serif;
}

.portada {
    background-image:url(/img/portada.jpg);
    background-size: cover;
    height: 40vh;
}

h1 {
    color: #fc7300;
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    text-shadow: 3px 3px 5px #181823;
    font-size: 30px;
}

nav {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

a {
    color: #181823 !important;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #1f8a70 !important;
}

.container {
    margin: 2%;
    display: flex;
    flex-flow: column wrap;
}

h2,
h3 {
    color: #eff5f5;
    font-family:'Belanosima', sans-serif;;
}

.titulo {
    grid-area: titulo;
}

.imagen {
    grid-area: imagen;
}
.parrafo {
    grid-area: parrafo;
    color: #181823;
    text-align: center;
    padding-top: 2%;
}
.container-seccion1 {
    max-width: 98%;
    min-height: 40vh;
    display: grid;
    margin: auto;
    padding: 2%;
    background-color: #fc7300;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "titulo titulo""imagen parrafo"; 
}

.container-seccion2 {
    max-width: 98%;
    min-height: 40vh;
    display: grid;
    margin: auto;
    padding: 2%;
    background-color: #1f8a70;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "titulo titulo""parrafo imagen";
}

.container-seccion3 {
    max-width: 98%;
    min-height: 40vh;
    display: flex;
    margin: auto;
}

footer {
    margin: auto;
    background-color: #fc7300;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 760px) {
    .container-seccion1,
    .container-seccion2,
    .container-seccion3 {
        display:block
    }
   .footer-container {
    flex-direction: column;
   }
}

.body-form {
    margin:auto;
    color: #eff5f5;
}
button {
    
}